*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-family: "freight-text-pro", serif;
    font-style: normal;
    font-weight: 300;
    font-size: 2.2em;
    color: #02B3E2;
    text-align: center;
    padding: 5px;
}
h2{

}
h3, p{
   font-family: "avenir", san-serif;
    font-size: 20px;
    color: #02B3E2;
    font-weight: 100;
    padding: 5px;
}
h4, h5{
font-family: "avenir", san-serif;
    font-size: 20px;
    color: #ffffff;
    font-weight: 100;
    text-align: center
}
h5{
    font-size: 14px;
}
p{
    font-size: 14px;
}
a{
    text-decoration: none;
    color: #fff;
}
/* header */
header{
    background: linear-gradient(45deg, rgba(2,204,186,0.7), rgba(2,179,228,0.7));
    width: 100vw;
    position: fixed;
    padding: 20px 30px;
}
nav {
    display: inline-block;
    float: right;
}
nav a{
    color: #fff;
    font-family: "avenir", san-serif;
    font-size: 12px;
    display: inline-block;
    padding: 10px;
}
nav a:hover{
    color: #e7e7e7;
}
.email-me{
    border: 2px solid white;
    border-radius: 4px;
}
.email-me:hover{
    background: #fff;
    color: #02B3E2;
}
/* logo magic */
.text {
/*    transform: translateX(-5%) translateY(-50%);*/
    list-style: none;
    border-bottom: 0;
}
.text li {
    display: inline-block;
    float: left;
    color: #fff;
    opacity: 1;
    transition: all 1.5s ease-in-out;
    max-width: 2em;
    font-family: 'Abril Fatface', cursive;
    font-size: 30px;
}
.text.hidden li.spaced {
    padding-left: 0;
}

.text li.spaced {
    padding-left: 0.5em;
}

.text.hidden li.ghost {
    opacity: 0;
    max-width: 0;
}
/* home container */
.home-container, about, portfolio, contact{
    height: 100vh;
}
.home-img{
   width: 95vw;
    height: 100vh;
    margin: 0 auto;
    background: url(../images/home/masa-wu-landing-page-img.jpg) no-repeat fixed center;
    background-size: cover;

}
.home-text-box{
    height:35vh;
    width: 50vw;
    background: rgba(255,255,255,.85);
    z-index: 1000;
    position: absolute;
    left:0;
    right: 0;
    top: 100px;
    bottom: 0;
    margin: auto;
    padding:20px;
}

/* quotes slide show */

/* Slideshow container */
.slideshow-container {
  position: relative;
}

/* Slides */
.mySlides {
  display: none;
  padding: 20px;
  text-align: center;
}

/* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #02B3E2;
}

/* Add an italic font style to all quotes */
q {font-style: italic;
    font-family: avenir, sans-serif;
    font-size: 20px;
    color: #02B3E2;
    font-weight: 100;
}

/* Add a grey color to the author */
.author {color: #bbb;}

/* mini footer*/
.mini-footer{
    position: absolute;
    bottom: 20px;
    left: 50px;
    width: 91vw;
}
.mini-footer a{
    color: #02CBBB;
    font-family: avenir, sans-serif;
    font-size: 14px;
    float: right;
    transition: all 0.8s;
}
.fab{
    color: #02CBBB;
    padding-left: 40px;
    font-size: 30px;
    opacity: 1;
    transition: all 0.8s;
    cursor: pointer;
}
.fab:hover, .fas:hover, .mini-footer a:hover{
    opacity: 0.5;}

.fas{
    color: #02CBBB;
    padding-left: 10px;
    float: right;
    transition: all 0.8s;
    cursor: pointer;
}


/* about me*/
.about{
    display: flex;
    flex-direction: row;
    margin-top: 200px;
    justify-content: space-around;
}
.resume, .about-me{
    padding: 20px;
}
.about-me{
    justify-content: center;
}
.resume img{
    max-width: 90vw;
    max-height: 90vh;
}
.about-me img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.about-me *{
    margin-top: 20px;
    max-width: 550px;
}

/* portfolio*/

.heading{
    padding: 20px;
}
.heading h3{

      max-width: 550px;
    margin: 0 auto;
    padding: 20px
}

.porfolio-content{
    display: flex;
    justify-content: space-around;
}
.viewfinders, .huset, .yfu{
    background: linear-gradient(45deg, rgba(2,204,186,0.1), rgba(2,179,228,0.1));
    padding-top: 30px;
    width: 320px;
}
.white-circle{
    width:240px;
    height:240px;
    background-color: #fff;
    border-radius: 150px;
    position: relative;
    margin: 0 auto;
}
.white-circle img{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.bottom-box{
    background-color: #414143;
    padding: 15px;
    margin-top: 20px;
}
.bottom-box a{
    font-family: "avenir", sans-serif;
    font-size: 14px;
    font-weight: 100;
    text-align: center;
    display: block;
    margin: 10px 0;
}
.hide{
    opacity: 0;
}
@media only screen and (max-width: 700px) {
   .home-text-box{
    height:45vh;
    width: 90vw;}
    .mini-footer{
        left:0;
    }
    .mini-footer a, .email-me{
        display: none;
    }
    .about, .porfolio-content{
        flex-direction: column;}
}
